.dice{
  position:relative;
  width:100px;
  height:100px;
  background-color: white;
  border: 1px solid black;
  border-radius:10px;
  display:inline-block;
}

.circle{
  width:20px;
  height:20px;
  background-color:black;
  border-radius:50px;
}

#dice-1-dot-1{
  position:absolute;
  top:40%;
  left:40%;
}

#dice-2-dot-1{
  position:absolute;
  top:20%;
  left:20%;
}

#dice-2-dot-2{
  position:absolute;
  bottom:20%;
  right:20%;
}

#dice-3-dot-1{
  position:absolute;
  top:15%;
  left:15%;
}

#dice-3-dot-2{
  position:absolute;
  top:40%;
  left:40%
}

#dice-3-dot-3{
  position:absolute;
  bottom:15%;
  right:15%;
}
