/* This is a CSS comment*/

.flag {
   width: 200px;
   height: 150px;
}

.size div{
   height: 30%;
   width: 100%
}

.sun {
     background-color: white;
     background-image:
        url(http://images.clipartpanda.com/clipart-sun-4ibe6Lxig.jpeg);
     background-size: 50px 50px;
     background-repeat: no-repeat;
     background-position: center;
 }

 .sky {
    background-color: #5DADE2; /* You probably have a slightly different one from class */
}
